/*Section1*/
.container{
	width: 1200px;
	margin: 0 auto;
}
.section-title1{
	margin: 82px 1px 0 0;
	font-size: 14px;
	color: #5863F8;
	font-family: 'Poppins';
	font-weight: bold;
}
.section-title2{
	margin-bottom: 50px;
	font-size: 42px;
	font-weight: 900;
	font-family: 'Poppins';
	width: 498px;
	font-weight: bold;
}
.left-block1{
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
	width: 536px;
	background-color: #F8F8F8;
}
.right-block1{
	float: left;
	width: 536px;
	background-color: #F8F8F8;
}
.clear{
	clear: both;
}
.descriprion{
	float: left;
	width: 240px;
}
.image{
	float: left;
	height: 190px;
	margin-right: 16px;
}
.title1{
	font-size: 14px;
	font-family: 'Poppins';
	font-weight: bold;
	color: #5863F8;
	margin-top: 37px; 

}
.title2{
	font-size: 18px;
	font-weight: 600;
	font-family: 'Poppins';
	margin-bottom: 10px;
}
.paragraph{
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 300;
	color: #B1B1B1;
	height: 62px;
	line-height: 15px;

}
/*Section2*/
.block1{
	float: left;
	background-color: #F8F8F8;
	width: 352px;
    margin-right: 16px;
	
}
.block2{
	float: left;
	background-color: #F8F8F8;
	width: 352px;	
}
.image2{
	height: 212px;
	width: 352px;
}
.left-block2{
	margin-right: 16px;
}
.middle-block{
	margin-right: 16px;
}
.title3{
	font-size: 14px;
	font-family: 'Poppins';
	font-weight: bold;
	color: #5863F8;
	padding: 23px 125px 5px 125px; 
}
.title4{
	font-size: 18px;
	font-family: 'Poppins';
	font-weight: 600;
	padding: 0 60px 10px 60px;
}
.paragraph1{
	font-family: 'Poppins';
	font-weight: 100;
	color: #B1B1B1;
    padding: 0 46px 23px 46px;
	font-size: 14px;
    text-align: center;
}

.box4::after{
	content: '';
	clear: both;
	display: block;
	margin-bottom: 87px;

}
.box3::after{
	content: '';
	clear: both;
	display: block;
	margin-bottom: 16px;
}

